body {
  margin     : 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin     : 0px;
  margin-left: 15px;
  padding    : 0px;
}

h1 {
  margin     : 0px;
  margin-left: 0px;
  padding    : 0px;
  width      : fit-content;
  color      : white;
}

p.ex1 {
  max-width : 45%;
  text-align: center;
}