.top-container {
  background-image: url(../images/Programming.jpg);
  padding         : 30px;
  text-align      : center;
  opacity         : 1.0;
  z-index         : 2;


}

.header {
  padding   : 0px 3px;
  background: #555;
  color     : #f1f1f1;
  opacity   : 1.0;
  z-index   : 2;
}

.content {
  padding: 0px 3px;
  opacity: 1.0;

}

.sticky {
  position: fixed;
  padding : 0px 3px;
  width   : 100%;
  top     : 0;
  opacity : 1.0;

}

.sticky+.content {
  padding-top: 102px;
  opacity    : 1.0;

}

.span {
  display    : block;
  height     : 60px;
  width      : 60px;
  line-height: 60px;

  -moz-border-radius: 30px;
  border-radius     : 30px;

  background-color: black;
  color           : white;
  text-align      : center;
  font-size       : 2em;
  opacity         : 1.0;

}

#inner {
  height               : 50;
  width                : 200px;
  background           : #555;
  border-radius        : 100px;
  -moz-border-radius   : 100px;
  -webkit-border-radius: 100px;
  margin-left          : 0px;
  margin-top           : 0px;
  opacity              : 1.0;

}